* {
  box-sizing: border-box;
   /** Nó làm cho các element co lại khi có padding và border -> nên giữ nguyên được kích thước element ban đầu của nó*/
   /** 1 điều lưu ý là nó không tác động đén margin, bởi vì margin không được thêm vào bên trong kích thước của element*/
}
body {
  margin: 0;
}

.header {
  text-align: center;
  padding: 32px
}

.row {
  display: flex;
  padding-left: 4px;
  padding-right: 4px;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding-right: 4px;
  padding-left: 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media(max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media(max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}