.container {
  font-size: calc(21px * 3);
  padding: calc(10px - 1px);
  /* transform: rotate(calc(1turn - 32deg)); */
  background: hsl(180, calc(2*25%), 65%); 
  line-height: calc(8/4);
  /* width: calc(100%); */
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 72px);
}

/* calc() chia div thành 6 cột */
.column {
  width: 100%;
}
.column-1-6{
  display: inline-block;
  min-width: calc(100% / 6);
  width: auto;
  margin-right: 20px;
}

/* calc() chia div thành 2 cột phụ thuộc theo chiều rộng*/
.nav {
  height: 30px;
  width: 250px;
  margin-right: 30px;
  background-color: blue;
  float: left;
}

.content {
  background-color: red;
  height: 30px;
  width: calc(100% - 280px);
  float: left;
}

/* calc() Căn giữa 1 item */
.item-center {
  position: absolute;
  display: none;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  width: 200px; 
  height: 200px;
  background-color: purple
}

/** input-form */
.three-column {
  text-align: center;
  display: inline-block;
  min-width: calc(100% / 3 - 3px);
}
input[type="text"], input[type="password"].input-form {
  font: 1em Arial, sans-serif;
  width: 366px;
  height: 30px;
  padding: 10px;
  font-weight: bold;
  color: blue;
  background-color: aquamarine;
  border: 1px solid aquamarine;
  box-shadow: 0px 0px 10px 20px red; /** horizontal vertical blur size color */
}

input[type="textarea"].input-form {
  font: 1em Arial, sans-serif;
  width: 366px;
  height: 30px;
  padding: 25px;
  font-weight: bold;
  color: blue;
  background-color: aquamarine;
  border: 1px solid aquamarine;
  box-shadow: 0px 0px 10px 20px red; /** horizontal vertical blur size color */
  box-sizing: border-box; /** IE8, Opera 7, Chrome và Firefox bản mới */
  -moz-box-sizing: border-box; /** Firefox bản cũ */
  -webkit-box-sizing: border-box; /** Chrome bản cũ */
}

/** vertical-align with label */
label, input[type="submit"] {
  /* width: auto;
  min-width: 300px;
  height: 50px; */
  vertical-align: middle;
  margin-right: 10px;
}

/** upload file */
div.upload {
  font-family: Operator Mono A,Operator Mono B,Source Code Pro,Menlo,Consolas,Monaco,monospace;
  width: 157px;
  color: aliceblue;
  text-align: center;
  padding-top: calc(50px - 34px); /* chiều cao của div trừ cho một nửa chiều cao của chữ */
  box-sizing: border-box;
  height: 50px;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px 10px;
  /* background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png); */
  overflow: hidden;
}

div.upload input {
  text-align: center;
  display: block !important;
  width: 157px !important;
  height: 50px !important;
  opacity: 0 !important;
  overflow: hidden !important;
  margin-top: -34px !important;
  cursor: pointer
}

/** ol li::before */
.before {
  width: calc(100% - 2em);
}

ol {
  counter-reset: li;
  margin-left: 0;
  margin-right: 0;
}

ol > li {
  border-top: 1px solid black;
  margin: 0 0 6px 2em;
  list-style: none;
  position: relative;
  padding: 4px 25px;
  padding-top: calc(34px - 23px);
  box-sizing: border-box;
}

ol > li::before {
  position: absolute;
  content: counter(li);
  counter-increment: li;
  top:-1px;
	left:-2em;
  border: 1px solid red;
  background-color: red;
  text-align: center;
  width: 2em;
  margin-right: 8px;
	padding: 8px;
}

div > dl {
  padding-left: calc(calc(100% - 50%) - 64px);
}

dl {
	counter-reset: term definition;
}
dt:before {
	counter-increment: term;
	content: counter(term) ". ";
}
dd:before {
	counter-increment: definition;
	content: counter(term) "." counter(definition) " ";
}

ol {
  counter-reset: li;
  list-style: none
}
ol > li::before {
  counter-increment: li;
  content: counters(li, ".", lower-roman )" ";
}

/** flex box center item */
.flex-box-center {
  margin-left: calc(calc(100% - 50%) - 150px);
  background-color: aquamarine;
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Position center */
.position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  background-color: blue;
  transform: translate(-50%, -50%);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** transition */
.transition-animation {
  width: 100px;
  height: 100px;
  background: red;
  transition: all 2s linear 1s; /** property duration timing-function delay */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: calc(calc(100% - 50%) - 50px);
}

#div1 {transition-timing-function: linear;} /** Thay đổi đều */
#div2 {transition-timing-function: ease;} /** Chậm ban đầu, đều ở giữa, chậm kết thúc */
#div3 {transition-timing-function: ease-in;} /** Chậm ban đầu*/
#div4 {transition-timing-function: ease-out;} /** Chậm kết thúc */
#div5 {transition-timing-function: ease-in-out;} /** Chậm van đầu và chậm kết thúc */

.transition-animation:hover {
  background: yellow;
}