* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.navbar {
  background-color: #333333;
  display: flex;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  transition: all 1s ease-in-out;
}

.navbar a:hover {
  color: #333333;
  background-color: #dddddd;
}

.row {
  padding: 20px 10px;
  display: flex;
}

.side {
  background-color: #f1f1f1;
  padding: 10px;
}

.main {
  padding: 10px
}

.fakeimg {
  background-color: #aaa;
}

.footer {
  background-color: #ddd;
  text-align: center;
  padding: 20px
}

@media(max-width: 700px) {
  .navbar {
    flex-direction: column;
  }

  .row {
    flex-wrap: wrap;
  }

  .side {
    flex-basis: 100%;
    max-width: 100%;
  }


  
  .main {
    flex-basis: 100%;
    max-width: 100%;

  }
}